<div class="flex flex-col space-y-20 dark:bg-neutral-800">
<div class="h-full w-full flex flex-col space-y-7 "  >
  <div class="flex mt-16 w-full">
    <img src="assets/product.png" class="object-cover w-full h-40">
    <div class="p-4 w-[500px] h-40 flex flex-col items-center justify-center bg-white max-sm:p-2">
      <p class="text-3xl font-bold max-sm:text-xl max-sm:text-center">Top Websites ranking</p>
      <span class="flex items-center justify-center font-medium text-gray-500 gap-2 text-lg max-sm:text-xs max-sm:text-center max-sm:gap-1">Most Visited Websites <mat-icon>computer</mat-icon> </span>
    </div>
  </div>
  <div class="flex flex-col space-y-7 pl-60 pr-60 max-sm:p-4 md:pl-20 md:pr-20 lg:pl-52 lg:pr-52">
    <div class="flex space-x-10">
      <div class="bg-neutral-200 p-2 rounded-full w-96 flex items-center gap-4 dark:bg-neutral-700 dark:text-white">
        <mat-icon>drag_indicator</mat-icon>
        <input placeholder="Search..."  [formControl]="input" (keydown)="keyDownFunction($event)" class="bg-neutral-200 w-full focus:outline-none focus:ring-0  dark:bg-neutral-700">
        <button class="flex items-center" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()"
                [matMenuTriggerFor]="beforeMenu">
          <mat-icon>{{ checked ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="w-96 menu">
          <div class="p-8">
            <app-user-search (submitted)="applyFilter($event)"></app-user-search>
          </div>
        </mat-menu>
      </div>

      <button class="p-2 rounded-full bg-[#219891] hover:bg-[#1F8A84] text-black font-bold  w-16" (click)="onSubmit()">Go</button>

    </div>

    <div class="flex space-x-20 max-sm:space-x-5" *ngIf="data">
      <div class="flex flex-col space-y-10">

        <div>
          <p class="text-2xl dark:text-white font-semibold border-b">Introduction</p>
          <p class="dark:text-white">{{data.link_info[0].analysis}}</p>
        </div>

        <div>
          <p class="text-2xl dark:text-white font-semibold border-b">Detail</p>
          <p class="dark:text-white">Meet the brilliant minds who have seamlessly woven their expertise into the fabric of "Sharing Website ". At the
            {{data.link_info[0].description_link}}</p>

        </div>

        <div>
          <p class="text-2xl dark:text-white font-semibold border-b">How many user?</p>
          <ul class="space-y-2 pl-4 dark:text-white" style="list-style-type:disc">
            <li>Programming</li>
            <li>Business</li>
            <li>Math</li>
          </ul>

        </div>

      </div>
      <div class="dark:text-white w-[40%] flex flex-col justify-center  items-center space-y-2">
        <p class="bg-neutral-300 pl-4 pr-4 rounded-2xl w-fit ">Picture</p>
          <img [src]="data.avatar" class="w-40 h-40 rounded-2xl max-sm:w-28 max-sm:h-28">
        <div class="gap-2 flex items-start justify-center">
          <span class="font-semibold ">Founder:</span>
          <a><u>{{data.link_info[0].founder}}</u></a>
        </div>
        <div class="flex gap-2 justify-center w-full">
          <p class="font-semibold">CEO:</p>
          <a><u>Mark Zuckerberg</u></a>
        </div>

        <div class="flex gap-2 justify-center w-full">
          <p class="font-semibold ">Revenue:</p>
          <p>{{data.link_info[0].release_date}}</p>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer (filterValueChange)="applyFilter($event)"></app-footer>
</div>

<ngx-loading
  [show]="loading"
  [config]="{ backdropBorderRadius: '3px'}"></ngx-loading>

