<ul class="space-y-2 ">
  <li><button (click)="applyFilter('Cryptography')">Cryptography</button></li>
  <li><button (click)="applyFilter('Business')">Business</button></li>
  <li><button (click)="applyFilter('Science')">Science</button></li>
  <li><button (click)="applyFilter('Coding')">Code</button></li>
  <li><button (click)="applyFilter('Math')">Math</button></li>
  <li><button (click)="applyFilter('History')">History</button></li>
  <li><button (click)="applyFilter('Music')">Music</button></li>
  <li><button (click)="applyFilter('Downloader')">Downloader</button></li>
</ul>
