<div class="w-full h-screen dark:bg-neutral-800 max-sm:h-full">
  <div
    class="flex w-full h-full items-center justify-center gap-20 pl-40 pr-40 dark:bg-neutral-800 max-sm:flex max-sm:flex-col max-sm:p-4 md:pl-20 md:pr-20 md:gap-6">
    <div class="xl:hidden md:hidden">
      <img src="assets/logo.png" class="border-black border w-[500px]">
    </div>
    <div class="w-fit max-sm:h-full ">
      <div class="mb-16 ">
        <p class="text-3xl font-semibold dark:text-white">Hi guys, We’re from team sharing Website.</p>
      </div>
      <p class="text-lg dark:text-white md:text-base">Our project is called "Sharing Website" and it has been built
        based on the labor of a team of three, working tirelessly using each unique individual capability to make the
        project a hit. HokMeng, specializes in UX/UI design and report documentation - creating an easy to use user
        interface, as well as comprehensive progress reports. Menglong is our frontend developer who turns Hokmeng's
        designs into web pages that look and work great on all devices. Henglong, who is our backend developer, writes
        the code required to implement the business logic in our application, which also manages the database logic, and
        is directly responsible for a system's security and reliability. Our team, driven by a strong will to promote
        sharing and collaboration, insists on delivering a platform that is both high-quality and user-centric and most
        importantly, that enables students to find websites and links effortlessly in the context of college or BacII
        studies.</p>
    </div>
    <div class="max-sm:hidden">
      <img src="assets/logo.png" class="border-black border w-[500px]">
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px'}"></ngx-loading>
</div>


