<div class="w-full h-screen dark:bg-neutral-800 max-sm:h-full">
  <div class="flex w-full h-full items-center justify-center gap-20 pl-40 pr-40 dark:bg-neutral-800 max-sm:flex max-sm:flex-col max-sm:p-4 md:pl-20 md:pr-20 md:gap-6">
    <div class="xl:hidden md:hidden">
      <img src="assets/logo.png" class="border-black border w-[500px]">
    </div>
    <div class="w-fit max-sm:h-full ">
      <div class="mb-16 ">
        <p class="text-3xl font-semibold dark:text-white">Hi guys, We’re from team sharing Website.</p>
      </div>
      <p class="text-lg dark:text-white md:text-base">Meet the brilliant minds who have seamlessly woven their expertise into the fabric of "Sharing Website ". At the
        helm is An Hokmeng, our Project Manager extraordinaire, orchestrating every detail with finesse. Leng Henglong &
        Art Menglong heads our front-end and back-end development, translating ideas into functional elements that bring
        the website to life. Hong Seanghai and Heng David, the artistic virtuoso behind our UI/UX design, has sculpted an
        interface that marries aesthetics with intuitive navigation. Together, this team embodies the spirit of
        collaboration, each role harmonizing with the others to create a digital masterpiece that resonates with all who
        visit.</p>
    </div>
    <div class="max-sm:hidden">
      <img src="assets/logo.png" class="border-black border w-[500px]">
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px'}"></ngx-loading>
</div>


