<div class="p-7 pl-40 pr-40 flex justify-between " (click)="$event.stopPropagation()" >

  <div class="space-y-4">
    <p class="font-bold text-gray-400">CATEGORIES</p>
    <div class=" flex space-x-20 text-sm">
      <ul class="space-y-2" style="list-style-type:disc">
        <li><span class="flex items-center gap-3 cursor-pointer " (click)="applyFilter('Science')" >
                Science
          <img src="assets/svg/science.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Programming')">
                Programming
          <img src="assets/svg/programing.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Business')">
                Business
          <img src="assets/svg/business.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Math')">
                Math
          <img src="assets/svg/math.svg" class="w-6 h-6" >
              </span></li>
      </ul>
      <ul class="space-y-2" style="list-style-type:disc">
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('History')">
                History
          <img src="assets/svg/histrory.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Social Media')">
                Social Media
          <img src="assets/svg/social-media.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Cryptocurrency')">
                Cryptocurrency
          <img src="assets/svg/cryptocurrency.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Design')">
                Design
          <img src="assets/svg/design.svg" class="w-6 h-6">
              </span></li>
      </ul>
      <ul class="space-y-2" style="list-style-type:disc">
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('AI')">
                 AI generate
          <img src="assets/svg/ai.svg" class="w-6 h-6">
              </span></li>
      </ul>
    </div>
  </div>

  <div class="w-96 flex flex-col space-x-2">
    <p class="font-medium text-lg">Find out how can you manage your research</p>
    <div class="flex gap-8">
      <img src="assets/image-in-menu.png" class="rounded-lg w-40 h-40">
      <p class="text-sm">All projects have a particular life cycle, from definition to description. Research too has its
        own
        life cycle, from defining objectives to drawing conclusions and writing up/reporting.</p>
    </div>
    <div class="flex  items-center gap-3">
      <u>See more</u>
      <mat-icon>arrow_forward</mat-icon>
    </div>
  </div>
</div>
