<div class=" w-full h-full bg-white dark:bg-neutral-800">
  <div class="pt-16 w-full overflow-x-hidden ">
    <div class="w-[50%] flex justify-center">
      <img src="assets/home-img/photo_home1.png" class="w-32 max-sm:w-20 md:w-24">
    </div>

    <div class="w-full flex justify-between h-96">
      <div class="flex items-end">
        <img src="assets/home-img/photo_home3.png" class="w-32 max-sm:w-20 md:w-24">
      </div>

      <div class="flex flex-col space-y-4 justify-center items-center w-[50%] md:w-full dark:text-white max-sm:w-full max-sm:p-4 ">
        <p class="text-4xl font-extrabold max-sm:text-center">Most trending Website</p>
        <p class="text-lg max-sm:text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book.</p>
        <div>
          <button class="bg-[#219891] rounded-xl p-4 font-bold pl-8 pr-8" [routerLink]="'/website'">Try for free
          </button>
        </div>
      </div>

      <div class="flex items-start">
        <img src="assets/home-img/photo_home2.png" class="w-32 max-sm:w-20 md:w-24">
      </div>
    </div>

    <div class="w-full flex justify-center  xl:h-96 ">
      <div class="flex justify-between w-[75%] max-sm:w-[90%]">
        <div class="flex items-center">
          <img src="assets/home-img/photo_home4.png" class="w-32 max-sm:hidden md:w-24">
        </div>

        <div>
          <img src="assets/home-img/photo_home5.png" class="w-32 max-sm:w-20 md:w-24">
        </div>
      </div>
    </div>

    <!--    image 4-->
    <div class="w-full flex space-y-4 flex-col items-center max-sm:pt-16">
      <div class=" flex space-x-4">
        <img src="assets/home-img/photo_home2.png" class="w-20 rounded-full">
        <img src="assets/home-img/http.jpg" class="w-20 rounded-full object-contain">
      </div>

      <div class=" flex space-x-4">
        <img src="assets/home-img/setting.jpg" class="w-20 rounded-full object-contain">
        <img src="assets/home-img/photo_home3.png" class="w-20 rounded-full">
      </div>

      <div>
        <p class="text-black font-bold text-3xl dark:text-white max-sm:p-4 max-sm:text-xl ">Sharing, Chatting , Popular,and Safety</p>
      </div>

    </div>

    <div class="flex dark:text-white flex-col mt-32 xl:space-y-52 max-sm:mt-20 max-sm:space-y-40 md:space-y-40">
      <div class="w-full flex justify-center ">
        <div class="w-[75%] font-extrabold text-center text-6xl max-sm:text-4xl md:text-5xl">
          <p>How to research about something quickly?</p>
        </div>
      </div>
      <!--topic-->
      <div class="w-full flex justify-center ">
        <div class="w-[75%] justify-between flex max-sm:flex max-sm:flex-col max-sm:space-y-4 md:w-[85%] lg:w-[75%]">
          <div class="w-full">
            <img src="assets/home-img/topic.png" class="w-80 rounded-2xl">
          </div>

          <div class="w-full ">
            <p class="text-3xl font-extrabold text-center">Topic</p>
            <p class="text-lg"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to make
              a type specimen book.</p>
            <div class="flex text-lg items-center gap-3">
              <u>See more</u>
              <mat-icon>arrow_forward</mat-icon>
            </div>
          </div>

        </div>
      </div>
      <!--link-->
      <div class="w-full flex justify-center ">
        <div class="w-[75%] justify-between flex max-sm:flex max-sm:flex-col max-sm:space-y-4 md:w-[85%] lg:w-[75%]">

          <div class="w-full ">
            <p class="text-3xl font-extrabold text-center">Links</p>
            <p class="text-lg"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to make
              a type specimen book.</p>
            <div class="flex text-lg items-center gap-3">
              <u>See more</u>
              <mat-icon>arrow_forward</mat-icon>
            </div>

          </div>
          <div class="w-full flex justify-end">
            <img src="assets/home-img/link.jpg" class="w-80 rounded-2xl">
          </div>

        </div>
      </div>

      <!--idea-->
      <div class="w-full flex justify-center ">
        <div class="w-[75%] justify-between flex max-sm:flex max-sm:flex-col max-sm:space-y-4 md:w-[85%] lg:w-[75%]">
          <div class="w-full">
            <img src="assets/home-img/idea.jpg" class="w-80 rounded-2xl">
          </div>

          <div class="w-full ">
            <p class="text-3xl font-extrabold text-center">Idea</p>
            <p class="text-lg"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to make
              a type specimen book.</p>
            <div class="flex text-lg items-center gap-3">
              <u>See more</u>
              <mat-icon>arrow_forward</mat-icon>
            </div>
          </div>

        </div>
      </div>
      <!--feedback-->
      <div class="w-full flex justify-center ">
        <div class="w-[75%] justify-between flex max-sm:flex max-sm:flex-col max-sm:space-y-4 md:w-[85%] lg:w-[75%]">

          <div class="w-full ">
            <p class="text-3xl font-extrabold text-center">Read feedback</p>
            <p class="text-lg"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's
              standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
              to make
              a type specimen book.</p>
            <div class="flex text-lg items-center gap-3">
              <u>See more</u>
              <mat-icon>arrow_forward</mat-icon>
            </div>

          </div>
          <div class="w-full flex justify-end">
            <img
              src="https://www.newbreedrevenue.com/hs-fs/hubfs/shutterstock_695711272.jpg?width=5001&name=shutterstock_695711272.jpg"
              class="w-80 rounded-2xl">
          </div>

        </div>
      </div>
    </div>

    <div class="w-full flex justify-center mt-20 h-96 items-center">
      <p class="text-black font-bold text-5xl  dark:text-white max-sm:text-4xl">Popular links Website</p>
    </div>


    <div class="w-full h-auto flex justify-center">
      <div class="w-[75%] ">
        <ngb-carousel [showNavigationArrows]="showArrows" [showNavigationIndicators]="showIndicators">
          <ng-template ngbSlide *ngFor="let slide of slides" >
            <img [src]="slide.imageUrl"  alt="photo" class="w-full ">
          </ng-template>
        </ngb-carousel>

      </div>
    </div>


    <!--    contact us-->
    <div class="w-full flex justify-center mt-20 items-center">
      <div class="flex justify-between w-[75%] items-center max-sm:flex max-sm:flex-col md:flex md:flex-col md:text-center ">
        <div class="w-full">
          <p class="text-black font-extralight text-6xl dark:text-white max-sm:text-4xl max-sm:text-center">Contact Us</p>
        </div>

        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md bg-gray-100 dark:bg-neutral-700 p-10 rounded-2xl w-full">
          <form class="space-y-8" [formGroup]="form">

            <div class=" flex space-x-4 w-full">
              <div class="w-full">
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First Name</label>
                <input type="text" id="first_name" formControlName="first_name"
                       class="w-full focus:outline-none focus:ring-0 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-neutral-600 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-neutral-600 dark:focus:border-neutral-600neutral-600 dark:shadow-sm-light"
                       placeholder="first name" required>
                <ng-container
                  *ngIf="form.get('first_name')?.touched && form.get('first_name')?.errors as errors">
                  <mat-error *ngIf="errors['required']" class="text-red-500">Required First Name</mat-error>
                  <mat-error *ngIf="errors['maxlength']">{{ errors['maxlength']['actualLength'] }}
                    /{{ errors['maxlength']['requiredLength'] }}
                  </mat-error>
                </ng-container>
              </div>

              <div class="w-full">
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Last Name</label>
                <input type="text" id="last_name" formControlName="last_name"
                       class="w-full focus:outline-none focus:ring-0 shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block p-2.5 dark:bg-neutral-600 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-neutral-600 dark:focus:border-neutral-600neutral-600 dark:shadow-sm-light"
                       placeholder="last name" required>
                <ng-container
                  *ngIf="form.get('last_name')?.touched && form.get('last_name')?.errors as errors">
                  <mat-error *ngIf="errors['required']" class="text-red-500">Required Last Name</mat-error>
                  <mat-error *ngIf="errors['maxlength']">{{ errors['maxlength']['actualLength'] }}
                    /{{ errors['maxlength']['requiredLength'] }}
                  </mat-error>
                </ng-container>
              </div>
            </div>

            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
              <input type="text" id="email" formControlName="email"
                     class="block focus:outline-none focus:ring-0 p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-neutral-500 focus:border-neutral-500 dark:bg-neutral-600 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-neutral-500 dark:focus:border-neutral-600 dark:shadow-sm-light"
                     placeholder="email" required>
              <ng-container
                *ngIf="form.get('email')?.touched && form.get('email')?.errors as errors">
                <mat-error *ngIf="errors['required']" class="text-red-500">Required Email</mat-error>
                <mat-error *ngIf="errors['maxlength']">{{ errors['maxlength']['actualLength'] }}
                  /{{ errors['maxlength']['requiredLength'] }}
                </mat-error>
              </ng-container>
            </div>
            <div class="sm:col-span-2">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
                Message</label>
              <textarea id="message" rows="6" formControlName="messages"
                        class="block focus:outline-none focus:ring-0 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-neutral-600 dark:border-neutral-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-neutral-600 dark:focus:border-neutral-600"
                        placeholder="message"></textarea>
              <ng-container
                *ngIf="form.get('messages')?.touched && form.get('messages')?.errors as errors">
                <mat-error *ngIf="errors['required']" class="text-red-500">Required Message</mat-error>
                <mat-error *ngIf="errors['maxlength']">{{ errors['maxlength']['actualLength'] }}
                  /{{ errors['maxlength']['requiredLength'] }}
                </mat-error>
              </ng-container>
            </div>
            <button type="submit" (click)="onSubmit()"
                    class="py-3 px-5 text-sm font-medium bg-[#219891] text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              Send message
            </button>
          </form>
        </div>

      </div>

    </div>
    <div class="mt-16">
      <app-footer (filterValueChange)="applyFilter($event)"></app-footer>

    </div>


  </div>


</div>

