<div>
  <footer class="flex justify-between dark:bg-neutral-700 dark:text-white  pl-40 pr-40 p-10">
    <!-- Left Column -->
    <div class="flex justify-between flex-col">
      <div class="flex flex-col items-center">
        <div class="flex items-center mb-4">
          <div class=" rounded-full border flex items-center justify-center">
            <img src="assets/logo.png" alt="SR Logo" class="w-32  border border-black rounded-full">
          </div>
        </div>
        <span class="ml-4 font-bold text-xl">Team project practicum</span>
      </div>

      <div class="flex flex-col items-center">
        <span class="font-semibold">Follow</span>
        <div class="flex space-x-4">
          <a href="#"><img src="assets/svg/facebook.svg" alt="Facebook" class="w-6 h-6"></a>
          <a href="#"><img src="assets/svg/gmail.svg" alt="Twitter" class="w-6 h-6"></a>
        </div>
      </div>

    </div>

    <!-- Categories Column -->
    <div>
      <p class="font-bold  mb-4">Categories</p>
      <ul class="space-y-2">
        <li>Science</li>
        <li>Program</li>
        <li>Bossiness</li>
        <li>Math</li>
        <li>History</li>
        <li>Media</li>
        <li>Cryptocurrency</li>
        <li>Tool Download</li>
      </ul>
    </div>

    <!-- Help Column -->
    <div>
      <p class="font-bold  mb-4">Help</p>
      <ul class="space-y-2">
        <li>Help Service</li>
        <li>Contact us</li>
        <li>Support</li>
        <li>Security</li>
      </ul>
    </div>

    <!-- Platform Website Column -->
    <div>
      <p class="font-bold  mb-4">Platform Website</p>
      <ul class="space-y-2">
        <li>Mobile</li>
        <li>Desktop</li>
      </ul>
    </div>
  </footer>
</div>
