<div class="h-full overflow-y-hidden bg-neutral-100 dark:bg-neutral-700">
  <div class="flex gap-8 justify-between ">
    <div class="h-screen overflow-y-hidden">
      <img src="assets/signin.png" class="w-full h-full rounded-br-full rounded-tr-[5000px] ">
    </div>
    <div>
      <div class="flex w-full justify-end p-2">
        <button mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <div class="flex flex-col space-y-4 justify-center items-center p-20 h-fit">
        <p class="font-semibold text-3xl text-center">Login</p>

        <input placeholder="Username" class="bg-neutral-200 p-4 rounded-full w-96 focus:outline-none focus:ring-0">

        <input type="password" placeholder="Password"
               class="bg-neutral-200 p-4 rounded-full w-96 focus:outline-none focus:ring-0">

        <button class="p-4 rounded-full bg-[#219891] hover:bg-[#1F8A84] font-bold text-white w-40">LOGIN</button>
        <div class="space-y-4">
          <span> <button class="text-[#219891]"
                         (click)="onChange()">Sign Up</button> or Sign in with social platform</span>
          <div class="flex gap-4 justify-center">
            <img src="assets/facebook.svg" class="w-12">
            <img src="assets/gmail.svg" class="w-12">
            <img src="assets/twitter.svg" class="w-12">
          </div>
        </div>
      </div>
    </div>

  </div>

</div>



