<div class="p-7 flex justify-center ">

  <div class="space-y-4">
    <div class=" flex flex-col text-sm">
      <ul class="space-y-2" style="list-style-type:disc">
        <li><span class="flex items-center gap-3 cursor-pointer " (click)="applyFilter('Science')">
                Science
          <img src="../../../../../assets/svg/science.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Programming')">
                Programming
          <img src="../../../../../assets/svg/programing.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Business')">
                Business
          <img src="../../../../../assets/svg/business.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Math')">
                Math
          <img src="../../../../../assets/svg/math.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('History')">
                History
          <img src="../../../../../assets/svg/histrory.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Social Media')">
                Social Media
          <img src="../../../../../assets/svg/social-media.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Cryptocurrency')">
                Cryptocurrency
          <img src="../../../../../assets/svg/cryptocurrency.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('Design')">
                Design
          <img src="../../../../../assets/svg/design.svg" class="w-6 h-6">
              </span></li>
        <li><span class="flex items-center gap-3 cursor-pointer" (click)="applyFilter('AI')">
                 AI generate
          <img src="../../../../../assets/svg/ai.svg" class="w-6 h-6">
              </span></li>
      </ul>
    </div>
  </div>
</div>
